@charset "UTF-8";

h2 {
  position: relative;
  padding: 1rem 2rem 1rem 4em;
  background: #fff;
}

h2 span {
  position: absolute;
  top: -10px;
  left: 20px;
  display: inline-block;
  width: 52px;
  height: 50px;
  text-align: center;
  background: #fa4141;
}

h2 span:before,
h2 span:after {
  position: absolute;
  content: '';
}

h2 span:before {
  right: -10px;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #d90606;
}

h2 span:after {
  top: 50%;
  left: 0;
  display: block;
  height: 50%;
  border: 1em solid #fa4141;
  border-bottom-width: 15px;
  border-bottom-color: transparent;
}

h2 span i {
  position: relative;
  z-index: 1;
  color: #fff100;
}